---
services:

---
  mariadb:
    build: ./requirements/mariadb
    container_name: "mariadb"
    restart: on-failure
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    secrets:
      - db_password
      - db_root_password
    volumes:
      - db-data:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    networks:
      - inception
---
  wordpress:
    build: ./requirements/wordpress
    container_name: "wordpress"
    restart: on-failure
    environment:
      WORDPRESS_DB_HOST: mariadb:3306
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
    volumes:
      - wp-data:/var/www/html
      - /etc/localtime:/etc/localtime:ro
    secrets:
      - db_password
    depends_on:
      - mariadb
    networks:
      - inception
      
---
  nginx:
    build: ./requirements/nginx
    container_name: "nginx"
    restart: on-failure
    ports:
      - "443:443"
    volumes:
      - wp-data:/var/www/html
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - wordpress
    networks:
      - inception

---
networks:
  inception:
    driver: bridge

---
secrets:
  db_password: 
    file: ../secrets/db_password.txt  
  db_root_password:
    file: ../secrets/db_root_password.txt
    

---
volumes:
  db-data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/mafioron/data/mariadb"
  wp-data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/mafioron/data/wordpress"

...
